<bread-crumb-component></bread-crumb-component>
<filtros-operativos-component></filtros-operativos-component>
<div class="portlet box yellow-casablanca" ng-show="busquedaOpCtrl.operatives">
    <div class="portlet-title">
        <div class="caption">
            <i class="fas fa-calendar-alt"></i>Operativos</div>
        <div class="tools">
            <a href="javascript:;" ng-click="busquedaOpCtrl.gridCollapse()" ng-class="busquedaOpCtrl.gridCollapsed ? 'collapse-arrow-up': 'collapse-arrow-down'"
                data-toggle="collapse" data-target="#search-form"></a>
            <a href="javascript:;" class="reload" data-original-title="" title="" ng-click="busquedaOpCtrl.initGrid()">
            </a>
        </div>
    </div>
    <div class="portlet-body collapse in" id="search-form">
        <div class="table-toolbar">
            <div class="row" ng-if="busquedaOpCtrl.tableConfig.showSearchBar || busquedaOpCtrl.tableConfig.showPageSize">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4" ng-if="busquedaOpCtrl.tableConfig.showPageSize">
                    <label class="control-label"> Mostrar:
                        <select ng-options="item.value for item in busquedaOpCtrl.pageSizes" ng-model="busquedaOpCtrl.selectedPageSize"
                            ng-change="busquedaOpCtrl.setPageSize()" name="pageSize" class="form-control input-sm input-xsmall input-inline">
                        </select></label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4" ng-if="busquedaOpCtrl.tableConfig.showSearchBar">
                    <label class="control-label pull-right"> Buscar:
                        <div class="btn-group ">
                            <input type="search" class="form-control input-sm input-small input-inline" placeholder=""
                                ng-model="busquedaOpCtrl.query" />
                            <a ng-if="busquedaOpCtrl.query.length" ng-click="busquedaOpCtrl.clearSearch()" class="fas fa-times btn-group clear-button">
                            </a>
                        </div></label>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
            <thead>
                <tr>
                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center" ng-if="busquedaOpCtrl.tableConfig.dataToShow.showChecks">
                        <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" ng-click="busquedaOpCtrl.checkAll()" />
                            <span></span>
                        </label>
                    </th>
                    <th ng-repeat="col in busquedaOpCtrl.tableConfig.dataToShow.columns" ng-if="col.visible" ng-click="busquedaOpCtrl.sortBy(col.name)"
                        ng-class="{'text-center' : col.name=='Actions'}">{{::col.title}}
                        <i class="fas" ng-class="busquedaOpCtrl.getIcon(col.name)"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="value in busquedaOpCtrl.operatives      
                track by $index">
                    <td class="text-center" ng-if="busquedaOpCtrl.tableConfig.dataToShow.showChecks">
                        <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                            <input type="checkbox" class="checkboxes" ng-checked="busquedaOpCtrl.checked" />
                            <span></span>
                        </label>
                    </td>
                    <td ng-repeat="col in busquedaOpCtrl.tableConfig.dataToShow.columns">
                        <div ng-switch on="col.name">
                            <div ng-switch-when="Actions" class="text-center">
                                <button ng-repeat="action in busquedaOpCtrl.tableConfig.dataToShow.actions" uib-popover={{action.title}}
                                    popover-trigger="'mouseenter'" type="button" class="btn green btn-xs" ng-click="action.function(value)"
                                    data-toggle="{{action.dataToggle}}" data-target="#search-form">
                                    <i class={{action.icon}}></i></button>
                            </div>
                            <div ng-switch-default>
                                {{busquedaOpCtrl.getData(value, col.name)}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>