<!-- BEGIN PAGE BREADCRUMB -->
<!-- <ul class="page-breadcrumb breadcrumb">
    <li class="active"> Inicio </li>
</ul> -->
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <shortcut-component ng-repeat="shortcut in homeCtrl.config" config="shortcut" class="col-lg-3 col-md-4 col-sm-6 col-xs-12"></shortcut-component>
</div>

<!-- <div class = "row">
    <generic-form-component selected="homeCtrl.selected" config="homeCtrl.formConfig" ng-if="homeCtrl.showForm"></generic-form-component>
</div>

<div class="row">
    <generic-table-component data="homeCtrl.tableData" config="homeCtrl.tableConfig" ng-show="homeCtrl.showTable"></generic-table-component>
</div> -->