@media (min-width: 768px) {
    .time-picker-spinner {
        position: relative;
    }
    .time-picker-label {
        margin-top: 33px !important;
        padding-top: 7px !important;
    }
    .text-area {
        resize: vertical !important;
        min-height: 36px;
    }
}

.time-picker-spinner .uib-time {
    padding: 0% !important;
}

.collapse-arrow-down {
    background-image: url(../../../../assets/global/img/portlet-collapse-icon-white.png);
    width: 14px;
    visibility: visible;
}

.collapse-arrow-up {
    background-image: url(../../../../assets/global/img/portlet-expand-icon-white.png);
    width: 14px;
    visibility: visible;
}